body {
    background-color: mediumpurple;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 25px;
}

h2 {
    font-family: "Playwrite HU", cursive;
    font-size:18px;
}

#paragrafo {
    color: gold;
    text-decoration: underline;
}

.grande {
    font-size: 35px;
}

.menosgrande {
    font-size: 25px;
}

.medio {
    font-size: 22px;
}

.pequeno {
    width: 20px;
    font-size: 15px;
}

.pequenino {
    font-size: 10px;
}

.name {
    text-align: center;
    border: 2px solid chartreuse;
}

.descricao {
    border: 2px solid red;
    display: inline-block;
    
   
}

#foto {
    border: 5px solid blue;
    display: inline-block;
    float: right;
    

}